@CHARSET "UTF-8";

#wrap {
	width: 100%;
	height: 100%;
}

.header {
	position: fixed;
}

.console {
	width: 75%;
	margin: 0 auto;
	padding-top: 80px;
}

.console .top {
	height: 100px;
	text-align: right;
	line-height: 70px;
}

.console .top button {
	margin-left: 10px;
	width: 90px;
	height: 30px;
	background: #fff;
	border: 1px solid #13323a;
}

.console .top button:hover{
	cursor:pointer;
	background:#13323a;
	color:#fff;
}

.console .main {
	widgh: 100%;
	height: 100%;
}

.console .main p.title {
	widgh: 100%;
	line-height: 50px;
	font-size: 30px;
	margin-bottom: 100px;
	font-weight: 500;
	text-align: center;
	font-size: 45px;
}

.console .boards {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	float: left;
}

.console .notice {
	width: 50%;
	height: 400px;
	float: left;
}

.console .notice:hover {
	cursor: pointer;
	font-weight: 500;
	text-decoration: underline;
}

.console .notice a {
	display:block;
	text-align: center;
	line-height: 400px;
	font-size: 30px;
}

.console .review {
	width: 49.9%;
	height: 400px;
	float: right;
	border-left: 1px dotted #999;
}

.console .review:hover {
	cursor: pointer;
	font-weight: 500;
	text-decoration: underline;
}

.console .review a {
	display:block;
	text-align: center;
	line-height: 400px;
	font-size: 30px;
}