@CHARSET "UTF-8";

.header {
	width: 100%;
	height: 80px;
	box-shadow:2px 2px 2px #999;
	background:#fff;
	z-index:10;
}

.header .gnb {
	width: 75%;
	margin: 0 auto;
	box-sizing: border-box;
}

.header .gnb ul li {
	float: left;
}

.header .gnb ul li.home {
	width: 20%;
}

.header .gnb ul li.home img {
	width: 46px;
	margin-top: 17px;
	cursor: pointer;
}

.header .gnb ul li.logo {
	width: 60%;
	text-align: center;
	font-size: 40px;
	line-height: 80px;
	font-weight: bold;
}

.header .gnb ul li span {
	cursor: pointer;
}

.header .gnb ul li.notice {
	width: 20%;
	text-align: right;
	font-size: 20px;
	line-height: 80px;
	font-weight: bold;
}

.header .gnb ul li.notice span:hover {
	text-decoration: underline;
}